body {
    display: flex;
    flex-flow: column;
    align-items: center;
    font-family: "Poppins", serif;
    background: rgb(238, 174, 202);
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    margin: 0;
    padding: 0;
    height: 100vh; /* Ensure the body takes full height */
}

h1 {
    font-weight: 800;
    margin: 1rem 0 0;
    text-align: center;
}

.calendar {
    width: 100%;
    max-width: 800px;
    margin: auto;
    font-family: "Poppins", serif;
    flex: 1; /* Ensure the calendar takes the remaining space */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center the calendar vertically */
}

.calendar-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
}

.controls {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
}

.month {
    font-size: 24px;
}

.view-controls {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.view-controls button {
    margin: 0 0.5rem;
}

.weekdays {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    width: 100%;
    text-align: center;
    margin-bottom: 1rem; /* Add margin to separate weekdays from days */
}

.weekdays div {
    padding: 5px 0;
}

.calendar-body {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 0.25rem;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.calendar-body .day, .calendar-body .month-box {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    height: 5rem; /* Adjust height to fit screen better */
    padding: 1rem;
    font-weight: 300;
    font-size: 0.8rem;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.calendar-body .day time, .calendar-body .month-box time {
    font-size: 2rem;
    margin: 0 0 1rem 0;
    font-weight: 500;
}

.calendar-body .day.today {
    background: #ffffff70;
}

.calendar-body .day.today time {
    font-weight: 800;
}

.calendar-body .month-box {
    height: 6rem;
}

@media (max-width: 800px) {
    .calendar-body .day, .calendar-body .month-box {
        height: 4rem; /* Adjust height for smaller screens */
    }
}

