.calendar-base {
    width: 900px;
    height: 500px;
    border-radius: 20px;
    background-color: white;
    position: absolute; /* Change position to absolute */
    top: 50%; /* Move container 50% down from the top */
    left: 50%; /* Move container 50% from the left */
    transform: translate(-50%, -50%); /* Center align using transform */
    color: black;
}

.year {
    color: #E8E8E8;
    font-size: 30px;
    position: absolute;
    top: 20px;
    right: 75px;
    font-weight: bold;
}

.triangle-left, .triangle-right {
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
    top: 36px;
    cursor: pointer;
}

.triangle-left {
    border-width: 5px 10px 5px 0;
    border-color: transparent #E8E8E8 transparent transparent;
    right: 90px;
}

.triangle-right {
    border-width: 5px 0 5px 10px;
    border-color: transparent transparent transparent #E8E8E8;
    right: 40px;
}

.triangle-left:hover {
    border-right-color: #2ECC71;
}

.triangle-right:hover {
    border-left-color: #2ECC71;
}

.month-color {
    color: #27AE60;
}

.month-hover:hover {
    color: #27e879 !important;
}

.months {
    color: #AAAAAA;
    position: absolute;
    top: 90px;
    left: 350px;
    word-spacing: 10px;
}

.month-line {
    border-color: #E8E8E8;
    position: absolute;
    top: 135px;
    left: 178px;
    width: 57%;
}

.days {
    color: #AAAAAA;
    position: absolute;
    top: 170px;
    left: 355px;
    font-size: 18px;
    font-weight: 600;
    word-spacing: 35px;
}

.num-dates {
    position: absolute;
    top: 200px;
    right: 50px;
    z-index: 1;
}

.num-dates div {
    margin-bottom: 25px;
    word-spacing: 55px;
}

.num-dates .fifth-week {
    word-spacing: 56px;
}

.num-dates .sixth-week {
    word-spacing: 55px;
}

.active-day {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #2ECC71;
    position: absolute;
    top: 430px;
    left: 661px;
}

.white {
    color: white;
}

.event-indicator {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #2980B9;
    position: absolute;
    top: 439px;
    left: 695px;
    display: none; /* hide the green circle */
}

.event-indicator.two {
    top: 303px;
    left: 535px;
}

.grey {
    color: #AAAAB1;
}

.calendar-left {
    width: 300px;
    height: 500px;
    border-radius: 20px 0 0 20px;
    background-color: #2ECC71;
    position: absolute;
    left: 60px;
    top: 130px; /* Adjust top position to move it down */
    z-index: 1;
    color: white;
}

.hamburger {
    position: absolute;
    top: 25px;
    left: 25px;
    cursor: pointer;
}

.hamburger .burger-line {
    width: 25px;
    height: 3px;
    background-color: white;
    border-radius: 15%;
    margin-bottom: 3px;
}

.hamburger:hover .burger-line {
    background-color: #27e879;
}

.num-date {
    font-size: 150px;
    width: 50%;
    margin: 0 auto;
    font-weight: 700;
}

.day {
    width: 50%;
    margin: 0 auto;
    font-size: 30px;
    position: absolute;
    top: 190px;
    left: 25%;
}

.current-events {
    font-size: 15px;
    position: absolute;
    top: 280px;
    left: 25px;
}

.posts {
    text-decoration: underline dotted;
    cursor: pointer;
}

.posts:hover {
    color: #27e879 !important;
}

.create-event {
    font-size: 18px;
    position: absolute;
    top: 350px;
    left: 25px;
}

.event-line {
    width: 90%;
    position: absolute;
    top: 385px;
    left: 5%;
}

.add-event {
    width: 20px;
    height: 20px;
    padding: 0;
    border-radius: 50%;
    border: solid white 2px;
    position: absolute;
    top: 405px;
    left: 260px;
    cursor: pointer;
}

.add {
    font-size: 25px;
    position: relative;
    left: 4px;
    bottom: 10px;
}

.add:hover, .create-event:hover, .add-event:hover {
    color: #27e879 !important;
    border-color: #27e879 !important;
}
